<!<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aliaksandr Danilin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/view.css">
    <title>Просмотр памятников</title>
</head>
<body>
  <table id="table">
    <caption>Таблица созданных QR кодов</caption>
    <thead>
      <tr>
        <th>№ п/п</th>
        <th>Фамилия Имя Отчество</th>
        <th>Ссылка</th>
        <th>Дата смерти</th>
      </tr>
    </thead>
    <tbody>
      ${users.map(user => `
        <tr>
          <td>${user.id}</td>
          <td>${user.name}</td>
          <td>${user.href}</td>
          <td>${user.death_date.toLocaleDateString(undefined, {year: 'numeric', month: 'long', day: 'numeric'})}</td>
        </tr>`
        ).join('')}
    </tbody>
  </table>
</body>
