<!<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aliaksandr Danilin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/view.css">
    <title>Просмотр памятников</title>
</head>
<body>
  <table id="table">
    <caption>Таблица созданных QR кодов</caption>
    <thead>
      <tr>
        <th>№ п/п</th>
        <th>Фамилия Имя Отчество</th>
        <th>QR код</th>
        <th>Просмотр/редактирование</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Иванов Иван Иванович</td>
        <td>1341341345135fr3wj2u248t</td>
        <td><a href="#">Редактировать</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Иванов Иван Иванович</td>
        <td>1341341345135fr3wj2u248t</td>
        <td><a href="#">Редактировать</a></td>
      </tr>
    </tbody>
  </table>
</body>
