@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium.ttf');
}
body {
  font-family: 'Roboto', sans-serif;
  background: url(../resources/f381f6a5be5a.jpg) #acbfba;
  background-size: 100%;

}
p {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
}
.wrapper {
  display: block;
  background-color: grey;
  background: linear-gradient(to right bottom, #303137, #8b8ca1);
  border-radius: 0.5em;
  width: 200px;
  height: 200px;
  margin: 4% auto auto 40%;
  padding-top: 5%;
  box-shadow: 10px 15px 20px 6px black;
}
.button {
  margin: 10% auto auto 25%;
  width: 100px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  font-weight: 700;
  padding: 2% 2% 2% 2%;
}
.button:hover, button:focus {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #fff;
  outline: 0;
}
