body {
  font-family: 'Roboto', sans-serif;
  background: url(../resources/sky.jpg) #acbfba;
  background-size: 100%;
}
header {
  display: block;
  background: rgba(165, 156, 131, .3);
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -5px;
}
a {
  text-decoration: none;
}
.header, .dropbtn, .about {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p.header {
  margin-top: -60px;
  z-index: 1;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
}
.dropbtn, .about {
  background-color: #4C3E15;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 10px;
  margin-top: -10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  margin-left: 15px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #776635;
}
.about {
  cursor: pointer;
}
.about:hover {
  background-color: #776635;
}
.logo {
  width: 75px;
  height: 75px;
}
.square-logo {
  margin-top: -60px;
  margin-bottom: 5px;
  z-index: 2;
  margin-left: 90%;
  display: flex;
  height: 75px;
  width: 75px;
  background: #acbfba;
}
.square {
  display: block;
  margin-top: 50px;
  margin-left: 10%;
  height: 250px;
  width: 250px;
  background: #acbfba;
}
.main-photo {
  height: 250px;
  width: 250px;
  border: 1px solid #000;
  border-radius: 5px;
}
.name {
  z-index: 1;
  margin-top: -250px;
  margin-left: 30%;
}
.years {
  display: inline-block;
  margin-left: 30%;
}
.epitafia {
  display: block;
  margin-left: 30%;
}
.section {
  display: block;
  border: rgb(115, 145, 137, 0.3) solid 1px;
  background-color: rgb(115, 145, 137, 0.3);
  margin-top: 5em;
  margin-left: 30px;
  max-width: 1200px;
  width: 90%;
}
.navigation {
  column-count: 3;
  display: block;
  border: rgb(115, 145, 137, 0.3) solid 1px;
  background-color: rgb(115, 145, 137, 0.3);
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
}
.navigation button {
  padding: 2px 2px 2px 2px;
  font-size: large;
  font-weight: bold;
  box-shadow: 5px 5px 15px rgb(115, 145, 137, 0.8);
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.navigation button:hover {
  box-shadow: 5px 5px 15px rgba(214, 145, 17, 0.8);
  color: #303030;
}
#images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}
#images a {
  width: fit-content;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #757171;
  cursor: pointer;
}
#images a:hover {
  box-shadow: 10px 10px 15px rgba(48, 48, 48, 0.5);
}
#images img {
  border: rgb(56, 55, 55) solid 1px;
  background-color: #acbfba;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 15px;
  max-width: 200px;
  max-height: 200px;
}
#images img:hover {
  border: rgba(184, 152, 10, 0.671) solid 2px;
  background-color: #66706d;
}
#nekrolog {
  display: none;
  margin-top: 10px;
  padding: 10px;
}
#nekrolog iframe {
  width: 90%;
  max-height: 500px;
  border: none;
  background-color: #ddd;
}
#coordinates {
  display: none;
  margin-top: 10px;
  padding: 10px;
}
#coordinates figure {
  border: #000 solid 1px;
  background-color: #acbfba;
  width: 80%;
  height: 500px;
}

